{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> Прогнозирование наличия сердечно-сосудистых заболеваний </title>
         <link rel="stylesheet" href="{% static 'main/css/index1.css' %}">
        <style>
            li {margin-top: 20px;}
        </style>
     </head>
    <body>
        <aside float="left">
            <img src= "{% static 'main/img/heart.png' %}" height="30" alt="logo">
            <span class="logo" > <b>Определение ССЗ </b> </span>
            <h3>Навигация</h3>
            <ul>
                <a href="/"><li>Главная</li></a>
                <a href="about"><li>Определение ССЗ</li></a>
                <a href="metod"><li>Описание метода</li></a>
            </ul>
        </aside>
        <main>
            <h1>Прогнозирование наличия сердечно-сосудистых заболеваний</h1>
            <p style="font-size:18px" align="justify" > Учитывая, что в настоящее время сердечная недостаточность
                является одним из самых распространённых заболеваний во всем мире.
                Обычные методы определения наличия сердечно-сосудистых заболеваний,
                такие как ЭКГ, не позволяют выявить заболевание на ранних стадиях,
                а более совершенные методы являются дорогими, что уменьшает их распространение,
                но и чувствительны к косвенным причинам.  </p>
            <p style="font-size:18px" align="justify" > Предлагаемое приложение позволяет выявлять
                сердечно-сосудистые заболевания и предупреждать о риске ССЗ на ранней стадии. </p>
            <p style="font-size:18px" align="justify" > Вкладка «Определение ССЗ» позволяет по вводимым
                данным о пациенте осуществлять прогнозирование развития ССЗ </p>
            <p style="font-size:18px" align="justify" >  Во вкладке «Описание метода» дается описание метода</p>
            <p style="font-size:18px" align="justify" >  Вводимые данные сохраняются в базе данных для последующего уточнения модели </p>
        </main>
    </body>
</html>
