{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> Описание метода прогнозирования наличия сердечно-сосудистых заболеваний </title>
         <link rel="stylesheet" href="{% static 'main/css/index1.css' %}">
        <style>
            li {margin-top: 20px;}
        </style>
     </head>
    <body>
        <aside float="left">
            <img src= "{% static 'main/img/heart.png' %}" height="30" alt="logo">
            <span class="logo" > <b>Определение ССЗ </b> </span>
            <h3>Навигация</h3>
            <ul>
                <a href="/"><li>Главная</li></a>
                <a href="about"><li>Определение ССЗ</li></a>
                <a href="metod"><li>Описание метода</li></a>
            </ul>
        </aside>
        <main>
            <h1>Описание метода прогнозирования наличия сердечно-сосудистых заболеваний</h1>
            <p style="font-size:18px" align="justify" > Метод прогнозирования наличия сердечно-сосудистых заболеваний
                разработан на основании данных приведенных на странице
                <a href="https://www.kaggle.com/datasets/colewelkins/cardiovascular-disease">«Cardiovascular Disease»</a>
                , состоящий из 68205 записей</p>
            <p style="font-size:18px" align="justify" > Этот датасет объединяет информацию из двух основных источников:
                репозиторий машинного обучения UCI и Kaggle. Все данные пациентов были анонимизированы
                для обеспечения конфиденциальности. </p>
            <img src= "{% static 'main/img/img_1.png' %}" height="350" alt="Image 1">
            <p style="font-size:18px" align="justify" > Расшифровка обозначений столбцов</p>
                        <ul style="font-size:18px">
                            <li>ID: Уникальный номер пациента</li>
                            <li>age: Возраст пациента в днях</li>
                            <li>age_years: Возраст пациента в годах</li>
                            <li>gender: Пол пациента (1: женский, 2: мужской)</li>
                            <li>height: Рост пациента в сантиметрах</li>
                            <li>weight: Вес пациента в килограммах</li>
                            <li>ap_hi: Систолическое артериальное давление в мм.рт.ст.</li>
                            <li>ap_lo: Диастолическое артериальное давление в мм.рт.ст.</li>
                            <li>cholesterol: Уровень холестерина. (1: нормальный, 2: выше нормального, 3: намного выше нормального)</li>
                            <li>gluc: Уровень глюкозы. (1: нормальный, 2: выше нормального, 3: намного выше нормального)</li>
                            <li>smoke: Отношение к курению. (0: некурящий, 1: курящий)</li>
                            <li>alco: Употребление алкоголя.(0: не употребляет алкоголь, 1: употребляет алкоголь)</li>
                            <li>active: Физическая активность. (0: низкая физичекая активность, 1: высокая физическая активность)</li>
                            <li>cardio: Наличие или отсутствие сердечно-сосудистых заболеваний. (0: отсутствие, 1: наличие)</li>
                            <li>bmi: Индекс массы тела</li>
                            <li>bp_category: Сердечно-сосудистое заболевание на основе значений артериального давления Категории включают
                                «Нормальный», «Повышенный», «Гипертония 1 стадии», «Гипертония 2 стадии»</li>
                            <li>bp_category_encoded: Целевая функция</li>
            </ul>
            <p style="font-size:18px" align="justify" > В датасете отсутствуют пропущенные данные и дубликаты.
Анализ исходных данных показал, что из приведенного списка показателей можно удалить один из параметров описывающих возраст, а именно возраст в днях, и показатель индекса массы тела, так как от является производной от роста и веса пациента.
Корреляционная матрица параметров приведена ниже
</p>
            <img src= "{% static 'main/img/img_2.png' %}" height="550" alt="Image 2">
            <p style="font-size:18px" align="justify" > При создании приложения использовался метод K-Nearest Neighbors, n_neighbors = 3.
Точность при обучении составила – 0,967, при тестировании – 0,940.
</p>
            <p style="font-size:18px" align="justify" > Матрицы ошибок при обучении и тестировании приведены ниже.</p>
            <img src= "{% static 'main/img/img_3.png' %}" height="250" alt="Image 3">
            <img src= "{% static 'main/img/img_4.png' %}" height="250" alt="Image 4">
            <p style="font-size:18px" align="justify" > Ссылка на блокнот
                <a href="https://colab.research.google.com/drive/147PFWoBHXnYXb09MrpNvAfveBfJg-k1l?usp=sharing">Colab</a>
                </p>

        </main>


    </body>
</html>
